<mat-dialog-content>
  <h1>Выберите пациента или введите данные нового</h1>
  <div class="row">
    <div class="col">
      <mat-form-field class="patient-info-group">
        <mat-label>Пациент</mat-label>
        <mat-select [disabled]="!isRegistered" [(ngModel)]="patientId">
          <mat-option (click)="choosePatient(pat.id)" *ngFor="let pat of patients"
                      value="{{pat.id}}">{{pat.lastName}} {{pat.firstName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col"></div>
  </div>
  <mat-checkbox (click)="clearPatient()" [(ngModel)]="isRegistered">Пациент зарегистрирован</mat-checkbox>
  <br>
  <form (submit)="onSubmit()">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-lg-8 text-center content-border">
        <mat-form-field class="patient-info-group">
          <mat-label>Фамилия</mat-label>
          <input matInput type="text" [(ngModel)]="patient.lastName" name="lastName"
                 [disabled]="isRegistered" required autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field class="patient-info-group">
          <mat-label>Имя</mat-label>
          <input matInput type="text" [(ngModel)]="patient.firstName" name="firstName"
                 [disabled]="isRegistered" required autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field class="patient-info-group">
          <mat-label>Паспорт (10 цифр)</mat-label>
          <input matInput type="text" maxlength="10" pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="patient.passport" name="passport" [disabled]="isRegistered" [required]="!isRegistered" autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field class="patient-info-group">
          <mat-label>Телефон в формате 89ХХХХХХХХХ</mat-label>
          <input matInput type="text" maxlength="11" pattern="89[0-9]{9}" [(ngModel)]="patient.telephone" name="telephone" [disabled]="isRegistered" required autocomplete="off">
        </mat-form-field>
        <br>
        <button mat-button type="submit">Продолжить</button>
      </div>
      <div class="col">

      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col text-right">
      <button class="col-" mat-button (click)="closeDialog()">Отмена</button>
    </div>
  </div>
</mat-dialog-content>
